{% load static %}

    <head >
        <title>Liste des categories </title>
        <link rel="stylesheet" href="{% static 'market\styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

        
    </head>


{% block content %}
    <div class="container mt-2">

        <h2 class="display-5 text-center mb-3 mt-3">Categorie detail</h2>
    
        <div class="text-center mt-2">
            <img src="{% static 'images/doctor.png' %}" alt="Image standard du médecin" style="max-width: 300px;">
        </div>
        <div class="row mb-5">    
            {% for produit in produits %}

                <div class="col-md-4 mb-5">
                    <div class="card p-2 h-100 actu liste">
                        <div class="p-2 text-center">
                            <h1><a href="{% url 'detail_categorie' categorie.id %}" class="text-decoration-none  display-5">{{produit.designation}}</a></h1>

                            <p>{{ categorie.prix }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}  
        </div>  
    </div>   

{% endblock %}