{% load static %}

    <head>
        <meta charset="utf-8">
        <title>Tonino Market</title>
        <link rel="stylesheet" href="{% static 'market\styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    </head>



        <form method="post" action="{% url 'delete_categorie' categorie.id %}" class="modal-content">
            {% csrf_token %}
 
            <div class="">
                <h5 class="modal-title text-center">Suppression de la categorie <i class="fa-solid fa-trash danger"></i></h5>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir supprimer la categorie {{ categorie.libelle }}?</p>
            </div>

            <div class="mb-3 text-center">
                <input class="btn btn-danger" type="submit" value="Supprimer">
                <a ><button type="button" class="btn btn-light " data-bs-dismiss="modal" aria-label="Close">Annuler</button></a>
            </div>            
        </form>

